<!DOCTYPE html>
{% load static %}
{# Load custom tags in template tags directory #}
{% load main_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p><a href="{% url 'main:post_list' %}">Home</a></p>
    <p><a href="{% url 'main:post_search' %}">Search</a></p>
    <p><a href="{% url "main:post_feed" %}">Subscribe to RSS feed</a></p>
    <p>
        This is my blog.
        The blog contains {% get_total_posts %} posts so far.
    </p>
    <h4>
        {# Custom tag for latest posts that take a number of latest post and defined in template tags #}
        Latest Posts {% get_latest_posts 3 %}
    </h4>
    <h4>Most commented posts
        <ul>
            {# Store the result of the template tag in a new variable "most_commented_posts #}
            {% get_most_commented_posts as most_commented_posts %}
            {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a>
                </li>
            {% endfor %}
        </ul>
    </h4>
</div>
</body>
</html>